.About self cont {
    position: absolute;
    width: 375px;
    height: 1263px;
    left: 375px;
    top: 4769px;
    background: #FFFFFF;
    transform:rotate(-180deg);
  }

  .Abouth2 {
    width: 327px;
    height: 101px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Hello {
    width: 327px;
    height: 144px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .Lets {
    width: 117px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
  