* {
  box-sizing: border-box;
}

.About {
  position: absolute;
  width: 375px;
  height: 1463px;
  left: 375px;
  background: #fff;
}

.Abouth2 {
  width: 327px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Hello {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Lets {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul li {
  list-style-type: none;
  margin-left: -35px;
}

.fonticons {
  margin-left: 1px;
}

li i {
  float: left;
  color: grey;
  font-family: 'Poppins', sans-serif;
  width: 33px;
  height: 30px;
  padding: 1px;
  margin-top: 2px;
  margin-left: 1px;
}

.get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 150px;
  height: 54px;
  margin-left: 6px;
  margin-top: 70px;
  background: ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  top: 144px;
  order: 0;
  flex-grow: 0;
}

.get a {
  width: 138px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lang {
  position: absolute;
  right: 78px;
  left: 12px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 5px;
}

.griditem1 {
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72;
  margin-top: 80px;
}

.griditem2 {
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72;
  margin-top: 10px;
}

.griditem3 {
  background-color: #f7f7f9;
  width: 303px;
  height: 66.72;
  margin-top: 10px;
}

.griditem1 img {
  width: 48px;
}

.Script {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  color: #253858;
}

.griditem2 img {
  width: 48px;
}

.HTML {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  color: #253858;
}

.griditem3 img {
  width: 48px;
}

.CSS {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-left: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.lang i {
  margin-left: 150px;
  color: grey;
}

hr {
  width: 327px;
  margin-left: -5px;
}

.Frame i {
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 130px;
  color: grey;
}

.Skills i {
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-left: 205px;
  color: grey;
}

a :visited {
  color: red;
}

a :hover {
  color: greenyellow;
}

a :active {
  color: orange;
}

button:hover {
  color: rgb(241, 8, 86);
}

button:disabled {
  color: maroon;
}

button:active {
  color: rgb(209, 230, 23);
}

.button :visited {
  color: #6070ff;
}

.button :hover {
  color: pink;
}
