* {
    box-sizing: border-box;
}
.About self cont {
    position: absolute;
    width: 375px;
    height: 1263px;
    left: 375px;
    top: 4769px;
    background: #FFFFFF;
    transform:rotate(-180deg);
  }

.Abouth2 {
    width: 327px;
    height: 101px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

.Hello {
    width: 327px;
    height: 144px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

.Lets {
    width: 117px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

ul {
    list-style-type: none;
  }
  
a :visited {
    color: red;
  }
  
a :hover {
    color: greenyellow;
  }
  
a :active {
    color: orange;
  }
  
button:hover {
    color: rgb(241, 8, 86);
  }
  
button:disabled {
    color: maroon;
  }
  
button:active {
    color: rgb(209, 230, 23);
  }
  
.button :visited {
    color: #6070ff;
  }
  
.button :hover {
    color: pink;
  }

.fonticons {
    position: relative;
}

li i {
    float: left;
    color: grey;
    font-family: 'Poppins', sans-serif;
    width: 53px;
    height: 30px;
    padding: 1px;
    margin-top: 2px;
    margin-left: 5px;
  }

.get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 150px;
  height: 54px;
  margin-left: 6px;
  margin-top: 70px;
  background: ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  top: 144px;
  order: 0;
  flex-grow: 0;
  }

.get a {
        width: 138px;
        height: 24px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        font-size: 17px;
        line-height: 24px;
        color: #396df2;
        text-decoration: none;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
  
.lang {
    position: absolute;
    right: 78px;
    left: 12px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
}

.griditem1 {
    background-color: #F7F7F9;
    width: 303px;
    height: 66.72;
    margin-top: 80px;
}

.griditem2 {
    background-color: #F7F7F9;
    width: 303px;
    height: 66.72;
    margin-top: 10px;
}

.griditem3 {
    background-color: #F7F7F9;
    width: 303px;
    height: 66.72;
    margin-top: 10px;
}

.griditem1 img {
    width: 48px;
}

.Script {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
color: #253858;
}

.griditem2 img{
    width: 48px;
}

.HTML {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
}

.griditem3 img {
    width: 48px;
}

.CSS {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
}
    
        
        

  