* {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    left: 24px;
    width: 327px;
    height: 700px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .item1 img {
    width: 295px;
    height: 220px;
    border-radius: 8px;
    margin-left: 5px;
    flex: 0;
    order: 0;
    flex-grow: 0;
  }
  
  .tonic {
    width: 295px;
    height: 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .ton {
    margin-left: 6px;
  }
  
  .canopy {
    width: 55px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-left: 6px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: inline;
  }
  
  .mainp {
    display: inline;
  }
  
  .sec {
    margin-top: 60px;
  }
  
  .back {
    width: 88px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: inline;
  }
  
  .year {
    width: 29px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: inline;
  }
  
  .daily {
    width: 295px;
    height: 76px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .day {
    margin-left: 6px;
  }
  
  .container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px 4px 12px;
    width: 53px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -35px;
  }
  
  .container2 a {
    width: 29px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .mid {
    display: inline;
    color: grey;
    width: 8px;
    height: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px 4px 12px;
    width: 45px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 10px;
  }
  
  .container3 a {
    width: 21px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .container4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px 4px 12px;
    width: 89px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 10px;
  }
  
  .container4 a {
    width: 65px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .maincon li {
    display: inline-flex;
  }
  
  .see {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 127px;
    height: 54px;
    margin-left: 6px;
    margin-top: 30px;
    background: ffffff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    flex: none;
    top: 144px;
    order: 0;
    flex-grow: 0;
  }
  
  .see a {
    width: 100px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .post img {
    width: 295px;
    height: 220px;
    border-radius: 8px;
    flex: 0;
    order: 0;
    flex-grow: 0;
  }
  
  .mps {
    width: 295px;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
  }

  .About {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 1463px;
    margin-left: 30px;
    background: #fff;
  }
  
  .Abouth2 {
    width: 327px;
    height: 101px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .Hello {
    width: 327px;
    height: 144px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .Lets {
    width: 117px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  ul li {
    list-style-type: none;
    margin-left: -35px;
  }
  
  .fonticons {
    margin-left: 1px;
  }
  
  li i {
    float: left;
    color: grey;
    font-family: 'Poppins', sans-serif;
    width: 33px;
    height: 30px;
    padding: 1px;
    margin-top: 2px;
    margin-left: 1px;
  }
  
  .get {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 150px;
    height: 54px;
    margin-left: 6px;
    margin-top: 70px;
    background: ffffff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    flex: none;
    top: 144px;
    order: 0;
    flex-grow: 0;
  }
  
  .get a {
    width: 138px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .lang {
    position: absolute;
    right: 78px;
    left: 52px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    align-items: center;
    flex-grow: 0;
  }
  
  .grid {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
  }
  
  .griditem1 {
    background-color: #f7f7f9;
    width: 303px;
    height: 66.72;
    margin-top: 80px;
  }
  
  .griditem2 {
    background-color: #f7f7f9;
    width: 303px;
    height: 66.72;
    margin-top: 10px;
  }
  
  .griditem3 {
    background-color: #f7f7f9;
    width: 303px;
    height: 66.72;
    margin-top: 10px;
  }
  
  .griditem1 img {
    width: 48px;
  }
  
  .Script {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: #253858;
  }
  
  .griditem2 img {
    width: 48px;
  }
  
  .HTML {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: #253858;
  }
  
  .griditem3 img {
    width: 48px;
  }
  
  .CSS {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin-left: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }
  
  .lang i {
    margin-left: 150px;
    color: grey;
  }
  
  hr {
    width: 327px;
    margin-left: -5px;
  }
  
  .Frame i {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-left: 130px;
    color: grey;
  }
  
  .Skills i {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-left: 205px;
    color: grey;
  }
  
  a :visited {
    color: red;
  }
  
  a :hover {
    color: greenyellow;
  }
  
  a :active {
    color: orange;
  }
  
  button:hover {
    color: rgb(241, 8, 86);
  }
  
  button:disabled {
    color: maroon;
  }
  
  button:active {
    color: rgb(209, 230, 23);
  }
  
  .button :visited {
    color: #6070ff;
  }
  
  .button :hover {
    color: pink;
  }
  
 
  
  