* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #ffffff;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item1 img {
 width: 295px;
 height: 220px;
 border-radius: 8px;
 flex: 0;
 order: 0;
 flex-grow: 0;
}

.tonic {
  width: 295px;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline;
}

.mainp {
  display: inline;
}

.middot {
  width: 8px;
  height: 8px;
  background: #C1C7D0;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: inline;
}

.back {
  width: 88px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline;
}

.year {
  width: 29px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline;
}

.daily {
  width: 295px;
  height: 76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;

}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 12px;
  width: 53px;
  height: 24px;
  background:  #EBEBFF;;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline;
}

.container2 a {
  width: 29px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 16px;
  color: #6070FF;
  flex: none;
  order: 0;
  flex-grow: 0;
  }

  .container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px 4px 12px;
    width: 45px;
    height: 24px;
    background:  #EBEBFF;;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: inline;
  }
  .container3 a{
    width: 21px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 16px;
  color: #6070FF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 12px;
  width: 89px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  display: inline;
}

.container4 a{
  width: 65px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
letter-spacing: 0.03em;
font-size: 12px;
letter-spacing: 0.03em;
line-height: 16px;
color: #6070FF;
flex: none;
order: 0;
flex-grow: 0;
}

.maincon {
  display: inline;
}






